body {
    background-color: #000000;
}

body > footer {
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    box-sizing: border-box;
    color: #ffffff;
    padding: 4rem 0;
    position: fixed;
    z-index: -1;
}